.git
.gitignore
.env
*.env # Ignore all .env files in subdirectories too
.DS_Store

# Frontend specific ignores
frontend/node_modules/
frontend/build/
frontend/dist/

# Backend specific ignores
backend/node_modules/